.titlebar .left .titlebutton:first-child, .titlebar .left .titlebutton:nth-child(2), .titlebar .left .titlebutton:nth-child(3) {
  color: transparent;
  box-shadow: none;
  background-position: center;
  background-repeat: no-repeat;
}
.titlebar .left .titlebutton:nth-child(3) {
  padding: 0px 0px 0px 0px;
  box-shadow: none;
}
/* Set correct layout with
	gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <':minimize,maximize,close'>}" for buttons on the right
	or
	gsettings set org.gnome.settings-daemon.plugins.xsettings overrides "{'Gtk/DecorationLayout': <'close,maximize,minimize:'>}"
	for buttons on the left */
/* minimize */

.titlebar .left .titlebutton:nth-child(2) {
  background-image: url('window-controls/min.svg');
  padding: 0px 0px 0px 0px;
  box-shadow: none;
}
.titlebar .left .titlebutton:nth-child(2):backdrop {
  background-image: url('window-controls/min_unfocused.svg');
  padding: 0px 0px 0px 0px;
  -gtk-image-effect: dim;
  box-shadow: none;
}
.titlebar .left .titlebutton:nth-child(2):hover {
  background-image: url('window-controls/min_prelight.svg');
  padding: 0px 0px 0px 0px;
  box-shadow: none;
}
.titlebar .left .titlebutton:nth-child(2):active {
  background-image: url('window-controls/min_pressed.svg');
  padding: 0px 0px 0px 0px;
  box-shadow: none;
}
/* close */

.titlebar .left .titlebutton:first-child {
  background-image: url('window-controls/close.svg');
  padding: 0px 0px 0px 0px;
  box-shadow: none;
}
.titlebar .left .titlebutton:first-child:backdrop {
  background-image: url('window-controls/close_unfocused.svg');
  padding: 0px 0px 0px 0px;
  -gtk-image-effect: dim;
  box-shadow: none;
}
.titlebar .left .titlebutton:first-child:hover {
  background-image: url('window-controls/close_prelight.svg');
  padding: 0px 0px 0px 0px;
  box-shadow: none;
}
.titlebar .left .titlebutton:first-child:active {
  background-image: url('window-controls/close_pressed.svg');
  padding: 0px 0px 0px 0px;
  box-shadow: none;
}
/* maximize */

.titlebar .left .titlebutton:nth-child(3) {
  background-image: url('window-controls/maximize.svg');
  padding: 0px 0px 0px 0px;
  box-shadow: none;
}
.titlebar .left .titlebutton:nth-child(3):backdrop {
  background-image: url('window-controls/maximize_unfocused.svg');
  padding: 0px 0px 0px 0px;
  box-shadow: none;
  -gtk-image-effect: dim;
}
.titlebar .left .titlebutton:nth-child(3):hover {
  background-image: url('window-controls/maximize_prelight.svg');
  padding: 0px 0px 0px 0px;
  box-shadow: none;
}
.titlebar .left .titlebutton:nth-child(3):active {
  background-image: url('window-controls/maximize_pressed.svg');
  padding: 0px 0px 0px 0px;
  box-shadow: none;
}
